body{
    background-color: rgb(5, 221, 156);
    font: normal 15pt Arial;
    
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.712);


}

select#flista{
    width: 150px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}